body {
    margin: 0;
}

.head-container {
    background-color: #1F2937;
}

.header-logo h3 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

h6 {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.header-container {
    display: flex;
    align-items: center;
    flex: 1;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
}

.header-logo {
    justify-content: flex-start;
    flex-grow: 1;
}

.header-link {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
}

.intro-text {
    display: flex;
    flex-direction: column;
}

.intro-text-image-container {
    display: flex;
    margin: 100px;
    justify-content: space-between;
    padding-bottom: 100px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.intro-text {
    width: 400px;
}

.intro-text button {
    background-color: #3882f6;
    border-radius: 5px;
    color: #E5E7EB;
    margin-top: 10px;
    flex-grow: 1;
    width: 100px;
}

.intro-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;

}

.intro-image {
    display: flex;
    justify-content: flex-end;

}

.intro-image p {
    font-size: 16px;
    color: #E5E7EB;
    padding: 100px 150px 100px 150px;
    background-color: grey;
    margin: 0;

}
